
h1 {
	color: black;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:center;
  padding: 20px
}
h2 { 
	color: green;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding: 20px
}

img {
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	margin-left:10px;
    width: 35%;
    height: 35%;
border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;

}
nav{
	color: blue;
	font-size: 10;
}
footer {
  display: block;
  }
  #caption-01{
		color:green;
  }
